{{ define "main" }}
    <div class="top-container">
        <div class="title">
            <h1 class="header">{{ .Params.Title }}</h1>
            <a href="mailto:{{ .Params.Subtitle }}">
                <p><i class="fas fa-envelope"></i>{{ .Params.Subtitle }}</p>
            </a>
            <p><i class="fas fa-phone"></i>{{ .Params.Subtitle2 }}</p>
        </div>
    </div>
    <main>
        <div class="grid1-container">
            <div class="item1">
                <h2>Who Am I?</h2>
                <p>
                I am an undergraduate with a passion for learning and an
                undying love for computer science!
                </p>
            </div>
            <div class="item2">
                <h2>An Ananlogy!</h2>
                <p>
                Think of an individual who loves to fish. Every chance they get
                they are at the lake fishing.
                <br><br>
                Programming is my fishing. I love to write software. For me,
                getting a job as a software developer would be analogous to
                someone who loves to fish getting a job as a fisherman!
                </p>
            </div>
            <div class="item3">
                <h2>Things I'm great at!</h2>
                <ul>
                    <li>OOP</li>
                    <li>Java</li>
                    <li>Java</li>
                    <li>Java</li>
                    <li>Java</li>
                    <li>Java</li>
                    <li>Java</li>
                    <li>Java</li>
                </ul>
            </div>
            <div class="item4">
                <h2>Things I'm okay at!</h2>
                <ul>
                    <li>OOP</li>
                    <li>Java</li>
                    <li>Java</li>
                    <li>Java</li>
                    <li>Java</li>
                    <li>Java</li>
                    <li>Java</li>
                    <li>Java</li>
                </ul>
            </div>
        </div>
    </main>
{{ end }}
