{{ define "main" }}
        <div class="header">
            <div>
                <h1>{{ .Params.Title }}</h1>
                <a href="mailto:{{ .Params.Subtitle }}">
                    <p><i class="fas fa-envelope"></i>{{ .Params.Subtitle }}</p>
                </a>
                <p><i class="fas fa-phone"></i>{{ .Params.Subtitle2 }}</p>
            </div>
        </div>

        <div class="wrapper">
            <div class="main">
                <h1>Who am I?</h1>
                <div class="card">
                    <p>
                    I am an undergraduate with a passion for learning and an undying love for computer science!
                    </p>
                </div>
                <h1>An analogy!</h1>
                <div class="card">
                    <p>
                    Think of an individual who loves to fish. Every chance they
                    get they are at the lake fishing.
                    </p>

                    <p>
                    Programming is my fishing. I love to write software. For me, getting a job as a
                    software developer would be analogous to someone who loves to fish getting a
                    job as a fisherman!
                    </p>
                </div>
            </div>
            <div class="main">
                <h1>He is Fred</h1>
                <div class="card">
                    <p>
                    I am an undergraduate with a passion for learning and an undying love for computer science!
                    </p>
                </div>
            </div>
            <div class="main">
                <h1>He is Fred</h1>
                <div class="card">
                    <p>
                    I am an undergraduate with a passion for learning and an undying love for computer science!
                    </p>
                </div>
            </div>
        </div>
{{ end }}
