{{ define "main" }}
        <div class="header">
            <div>
                <h1>{{ .Params.Title }}</h1>
                <a href="mailto:{{ .Params.Subtitle }}">
                    <p><i class="fas fa-envelope"></i>{{ .Params.Subtitle }}</p>
                </a>
                <p><i class="fas fa-phone"></i>{{ .Params.Subtitle2 }}</p>
            </div>
        </div>

        <div class="wrapper">
            <div class="main">
                <h1>Who am I?</h1>
                <div class="card">
                    <p>
                    I am an undergraduate with a passion for learning and an undying love for computer science!
                    </p>
                </div>
                <h1>An analogy!</h1>
                <div class="card">
                    <p>
                    Think of an individual who loves to fish. Every chance they
                    get they are at the lake fishing.
                    </p>

                    <p>
                    Programming is my fishing. I love to write software. For me, getting a job as a
                    software developer would be analogous to someone who loves to fish getting a
                    job as a fisherman!
                    </p>
                </div>
            </div>
            <div class="main">
                <h1>Things I'm great at!</h1>
                <div class="card">
                    <ul>
                        <li>OOP Paradigm</li>
                        <li>Java</li>
                        <li>Python</li>
                        <li>Linux Admin</li>
                        <li>Shell Scripting</li>
                        <li>Collaborating w/ Git</li>
                        <li>Working in Vim</li>
                        <li>Teamwork & Leadership</li>
                    </ul>
                </div>
                <h1>Things I'm okay at!</h1>
                <div class="card">
                    <ul>
                        <li>Web Development</li>
                        <li>JavaScript</li>
                        <li>Markdown/CSS/HTML/Latex</li>
                        <li>CI/CD</li>
                        <li>Agile</li>
                        <li>C/C++</li>
                        <li>SQL/Oracle</li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <h1>Qualifications</h1>
                <div class="card">
                    <p>
                    In 2018 I graduated with honors from community college with
                    an AS in CS. From there, I transferred to CSU Sacramento
                    where I will be graduating this December with honors and a
                    BS in CS.
                    </p>
                    <p>
                    My real qualifications come from my curiosity and
                    drive to know more about the things that interest me!
                    </p>
                </div>
                <h1>More Information!</h1>
                <div class="card">
                    <p>
                    In 2018 I graduated with honors from community college with
                    an AS in CS. From there, I transferred to CSU Sacramento
                    where I will be graduating this December with honors and a
                    BS in CS.
                    </p>
                    <p>
                    My real qualifications come from my curiosity and
                    drive to know more about the things that interest me!
                    </p>
                </div>
            </div>
        </div>
{{ end }}
