{{ define "content" }}
    <h1>{{ .Title }}</h1>
    <div class="columns">
        <div class="column">
           <p>{{ .Site }}</p>
           <p>{{ .Site }}</p>
        </div>
        <div class="column">
            <p>{{ . }}</p>
            <p>{{ . }}</p>
        </div>
    </div>
    <div class="container">
        <a class="button">
            Button
        </a>
    </div>
    <div class="container">
        <a class="button is-primary">
            Primary
        </a>
    </div>
    <div class="container">
        <a class="button is-link">
            Link
        </a>
    </div>
    <div class="container">
        <a class="button is-info is-small">
            Info
        </a>
    </div>
    <div class="container">
        <a class="button is-success is-medium">
            Success
        </a>
    </div>
    <div class="container">
        <a class="button is-warning is-large">
            Warning
        </a>
    </div>
    <div class="container">
        <a class="button is-danger is-outlined is-loading">
            Danger
        </a>
    </div>
{{ end }}

