$bg-color: #e0e0e0;
$secondary-color: #000000;

html {
    color: black;
}

body {
    background-color: blue;
}


.fred {
    color: purple;
}

h1 {
    color: green;
}

h1:visited {
    color: pink;
}

div.header {
    text-align: center;
}

div.header > div {
    display: inline-block;
    text-align: left;
}

div.header > div > h1,
div.header > div > p {
    margin: 0;
}

div.wrapper {
    margin: 0 auto;
    text-align: center;
}

div.main {
    width: 20%;
    margin: 5% 24px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

div.main > h1 {
    margin: 0;
}

div.card {
    background-color: #eee;
}

div.card > p {
    margin: 0 auto 14px auto;
    padding: 14px;
    font-size: 1.5rem;
    font-family: sans-serif;
}



@media only screen and (max-width: 1000px) {
    div.main {
        display: block;
        width: 90%;
    }
}

