$bg-color: #e0e0e0;
$secondary-color: #000000;

* {
    box-sizing: border-box;
}


html {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: $bg-color;
    color: $secondary-color;
    font-size: 10px;
}

h1.header {
    font-size: 3.4rem;
    margin: 18px 0 0 0;
}

h2 {
    font-size: 1.4rem;
}

a {
    color: black;
    text-decoration: none;
}

div.title {
    p {
        margin: 0;
        font-family: 'Source Code Pro', monospace;
        font-size: 1.4rem;
    }
}

div.top-container {
    text-align: center;
}

i.fa-envelope, i.fa-phone {
    position: relative;
    top: 3px;
    right: 7px;
}

.container {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.0rem;
}

// Desktop/non-mobile grid settings
@media only screen and (min-width: 768px) {
}

