<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ $style := resources.Get "scss/main.scss" }}
    {{ $style = $style | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <script src="https://kit.fontawesome.com/9da51596eb.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <title>{{ .Site.Title }}</title>
</head>

